.button {
  display: inline-block;
  vertical-align: top;
  width: 256px;
  padding: 14px 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: @gray-light;
  background-color: @white;
  border: none;
  outline: 2px solid @gray-light;
  cursor: pointer;

  &:hover,
  &:focus {
    color: @white;
    background-color: @gray-light;
  }

  &:active {
    color: @opacity-w3;
  }
}

@media (min-width: @tablet-width) {
  .button {
    width: 286px;
  }
}
