.category {
  outline: 1px dotted red;
}

.category__list {
  padding: 0;
  list-style: none;
}

.category__item {
  padding: 28px 130px 28px 0;
}

.category__item--interior {
  background-color: @tiffany;
}

.category__item--toys {
  background-color: @tiffany-darken;
}

.category__link {
  font-size: 19px;
  font-weight: bold;
  text-decoration: none;
  color: @white;
}
