.category {
  margin-bottom: 27px;
  background-color: @bg-light-gray;
}

.category__banner {
  margin-top: -15px;
  padding: 0 30px;
  text-align: center;
  background-color: @bg-light-gray;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 1150px auto;
  }
}

.category__banner-title {
  display: inline-block;
  vertical-align: top;
  width: 260px;
  margin: 0;
  margin-top: 88px;
  margin-bottom: 122px;
  padding: 0 10px;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
}

.category__list {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

.category__link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 26px 177px 29px 30px;
  font-size: 19px;
  font-weight: bold;
  text-decoration: none;
  color: @white;

  &:active {
    color: @opacity-w3;

    .category__icon {
      fill: @tiffany-middle-03;
    }
  }
}

.category__icon {
  position: absolute;
  margin-right: 30px;
  fill: @tiffany-middle-05;
}

.category__icon--interior {
  top: 23px;
  right: 6px;
  width: 41px;
  height: 62px;
}

.category__icon--toys {
  top: 20px;
  right: -4px;
  width: 61px;
  height: 61px;
}

.category__link--interior {
  background-color: @tiffany;

  &:hover,
  &:focus {
    background-color: @tiffany-hover;
    box-shadow: 0 -3px 0 0 @tiffany-hover, 0 2px 0 0 @tiffany-hover;

    .category__icon {
      fill: @tiffany-middle-07;
    }
  }
}

.category__link--toys {
  background-color: @tiffany-darken;

  &:hover,
  &:focus {
    background-color: @tiffany-darken-hover;
    box-shadow: 0 -3px 0 0 @tiffany-darken-hover, 0 2px 0 0 @tiffany-darken-hover;

    .category__icon {
      fill: @tiffany-middle-07;
    }
  }
}

@media (min-width: @tablet-width) {
  .category {
    padding: 0 50px;
  }

  .category__banner {
    background-image: url("../img/hero-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 2300px auto;
    }
  }

  .category__banner-title {
    width: 530px;
    margin-top: 155px;
    margin-bottom: 373px;
    font-size: 43px;
    line-height: 50px;
  }

  .category__list {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 668px;
  }

  .category__link {
    flex-grow: 1;
    width: 334px;
    padding: 28px 170px 30px 36px;
    font-size: 20px;
    line-height: 30px;
  }

  .category__icon--interior {
    top: 30px;
    right: 5px;
  }

  .category__icon--toys {
    top: 30px;
    right: 5px;
  }
}

@media (min-width: @desktop-width) {
  .category__banner {
    background-image: url("../img/hero-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 2300px auto;
    }
  }

  .category__banner-title {
    width: 700px;
    margin-bottom: 360px;
    padding-left: 17px;
    font-size: 53px;
    line-height: 57px;
  }

  .category__list {
    width: 1050px;
  }

  .category__link {
    padding-right: 350px;
  }
}
