.contacts {
  outline: 1px dotted red;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.contacts__info,
.contacts__email {
  font-size: 15px;
  line-height: 30px;
  color: @gray-light;
}

.contacts__email {
  text-decoration: none;
}

.contacts__field--email {
  border-bottom: 1px solid @tiffany;
}
