.copyright {
  outline: 1px dotted red;
}

.copyright__text {
  font-size: 19px;
  line-height: 19px;
  font-weight: bold;
}

.copyright__link {
  font-size: 0;
  text-decoration: none;
  cursor: pointer;
}
