.copyright {
  width: 185px;
  padding: 0;
  margin-bottom: 10px;
}

.copyright__link {
  position: relative;
  display: block;
  padding: 27px 0;
  font-size: 19px;
  line-height: 20px;
  font-weight: bold;
  text-decoration: none;
  color: @black;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__link-academy {
  position: absolute;
  top: 22px;
  right: 1px;
  fill: @tiffany;

  &:hover,
  &:focus {
    fill: @tiffany-darken-hover;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .copyright__link {
    padding-top: 32px;
  }

  .copyright__link-academy {
    top: 28px;
  }
}
