.features {
  outline: 1px dotted red;
}

.features__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.features__list {
  padding: 0;
  list-style: none;
}

.features__item {
  padding: 60px 0 30px 0;
}

.features__description {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
}
