.features {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0 30px;
}

.features__title {
  display: block;
  margin: 0;
  padding: 30px 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.features__lists {
  display: flex;
  flex-direction: column;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  padding: 30px 0;
}

.features__icon {
  width: 55px;
  height: 38px;
  fill: @tiffany;
}

.features__description {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
}

@media (min-width: @tablet-width) {
  .features {
    width: 668px;
    padding: 0 50px;
  }

  .features__lists {
    flex-direction: row;
    justify-content: flex-start;
  }

  .features__title {
    padding: 55px 0 45px 0;
    font-size: 43px;
    line-height: 50px;
  }

  .features__description {
    font-size: 20px;
    line-height: 22px;
  }

  .features__item {
    width: 334px;
  }
}

@media (min-width: @desktop-width) {
  .features {
    width: 1050px;
    padding: 0 225px;
  }

  .features__title {
    margin-left: 160px;
    padding: 65px 0 40px 0;
    font-size: 53px;
    line-height: 57px;
  }

  .features__lists {
    justify-content: center;
  }

  .features__item {
    width: 350px;
  }
}
