.form {
  padding: 0 30px;
  outline: 1px dotted green;
}

.form__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  background-color: @gray-middle;
}

.form__text {
  font-size: 13px;
  color: @gray-light;
}

.form__fieldset {
  margin: 0 0 30px 0;
  padding: 0;
  border: none;
}

.form__caption {
  margin-bottom: 15px;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: @tiffany;
}

.form__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.form__customer-info {
  width: 260px;
  padding-bottom: 15px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 200;
  color: @gray-form;
  border: none;
  border-bottom: 2px solid @black;
}

.form__customer-info--wishes {
  padding-bottom: 90px;
  border: 2px solid @black;
}

.form__text-required {
  font-size: 14px;
  line-height: 16px;
  color: @gray-light;
}
