.form {
  margin-top: 1px;
}

.form__title {
  display: block;
  margin: 0;
  margin-bottom: 22px;
  margin-left: -1px;
  padding: 72px 0 76px 0;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  background-color: @gray-middle;
}

.form__text {
  display: block;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 11px;
  padding: 0 30px;
  font-size: 13px;
  color: @gray-light;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0 30px;
}

.form__fieldset--type {
  margin-bottom: 16px;
}

.form__fieldset--color {
  margin-bottom: -3px;
}

.form__fieldset--customer {
  margin-bottom: 0;
}

.form__fieldset--tel,
.form__fieldset--email {
  margin-bottom: 0;
}

.form__fieldset--wishes {
  margin-bottom: 0;
}

.form__caption {
  display: block;
  position: relative;
  width: 260px;
  margin-bottom: 24px;
  margin-left: -1px;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: @tiffany;
}

.form__caption--tel,
.form__caption--email {
  margin-bottom: 11px;
}

.form__caption--wishes {
  margin-bottom: 15px;
}

@media (max-width: @mobile-width-only) {
  .form__caption {
    &::before {
      content: "";
      position: absolute;
      top: 7px;
      right: -1px;
      width: 198px;
      height: 1px;
      background-color: @tiffany;
    }
  }

  .form__caption--email {
    &::before {
      width: 179px;
    }
  }

  .form__caption--wishes {
    &::before {
      top: 8px;
    }
  }
}

.form__wrapper-block,
.form__wrapper-block--color,
.form__wrapper-block--user-name {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form__label {
  position: relative;
  margin-bottom: 15px;
  padding: 10px 0 10px 62px;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  cursor: pointer;
}

.form__label--type {
  margin-bottom: 4px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 36px;
    background-color: @white;
    border: 2px solid @black;
    border-radius: 50%;
  }
}

.form__label--color {
  margin-bottom: 22px;
  padding-top: 11px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 35px;
    background-color: transparent;
    border: 2px solid @black;
  }
}

.form__radio,
.form__checkbox {
  position: absolute;
  opacity: 0;
}

.form__label--type,
.form__label--color {
  &:hover,
  &:focus {
    &::before {
      border: 2px solid @tiffany;
    }
  }

  &:active {
    &::before {
      border: 2px solid @opacity-03;
    }
  }
}

.form__radio:checked + .form__label--type {
  &::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;
    width: 16px;
    height: 16px;
    background-color: @tiffany;
    border-radius: 50%;
  }
}

.form__checkbox:checked + .form__label--color {
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 7px;
    width: 33px;
    height: 23px;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 80%;
  }
}

.form__label--user-name {
  padding-left: 0;
  padding-top: 4px;
  margin-bottom: 5px;
}

.form__label--tel,
.form__label--email,
.form__label--wishes {
  font-size: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.form__icon-tel {
  position: absolute;
  top: 5px;
  right: 8px;
  opacity: 0.2;
}

.form__icon-email {
  position: absolute;
  top: 6px;
  right: 4px;
  opacity: 0.2;
}

.form__customer-info {
  width: 258px;
  margin-bottom: 18px;
  padding-bottom: 18px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 200;
  color: @gray-light;
  background-color: transparent;
  border: none;
  box-shadow: inset 0 -2px 0 0 @black;
  .placeholder-input;

  &:hover,
  &:focus {
    box-shadow: inset 0 -2px 0 0 @tiffany;
  }
}

.form__customer-info:hover + .form__icon-tel,
.form__customer-info:focus + .form__icon-tel {
  fill: @tiffany;
  opacity: 1;
}

.form__customer-info:hover + .form__icon-email,
.form__customer-info:focus + .form__icon-email {
  fill: @tiffany;
  opacity: 1;
}

.form__fieldset--customer .form__customer-info {
  &:last-child {
    margin-bottom: 19px;
    padding-bottom: 17px;
  }
}

.form__customer-info--wishes {
  width: 241px;
  padding: 14px 0 88px 15px;
  box-shadow: none;
  border: 2px solid @black;

  &:hover,
  &:focus {
    box-shadow: none;
    border-color: @tiffany;
  }
}

.form__wrapper {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 57px;
  padding: 0 30px;
}

.form__text-required {
  display: block;
  width: 260px;
  margin: 0;
  margin-bottom: 33px;
  margin-top: -2px;
  font-size: 14px;
  line-height: 16px;
  color: @gray-light;
}

.form_button {
  margin-left: 2px;
  font-size: 17px;
  line-height: 16px;
  padding: 16px 0;
}

@media (min-width: @tablet-width) {
  .form {
    margin-top: -73px;
  }

  .form__title {
    margin-bottom: 74px;
    padding-top: 95px;
    padding-bottom: 80px;
    font-size: 43px;
    line-height: 50px;
  }

  .form__text {
    width: 668px;
    margin-bottom: 57px;
    padding: 0 50px;
    font-size: 17px;
    line-height: 30px;
  }

  .form__fieldset {
    flex-direction: row;
    width: 668px;
  }

  .form__fieldset--type {
    position: relative;
    margin-bottom: 26px;
  }

  .form__fieldset--color {
    margin-bottom: 0;
  }

  .form__fieldset--tel,
  .form__fieldset--email {
    margin-top: 0;
    margin-bottom: 0;
  }

  .form__fieldset--wishes {
    margin-top: 0;
    margin-bottom: 15px;
  }

  .form__zigzag {
    position: absolute;
    top: -200px;
    left: 0;
    width: 768px;
    height: 34px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    z-index: 6;
  }

  .form__caption {
    width: 166px;
    margin-top: 17px;
    padding-left: 2px;
  }

  .form__caption--user {
    margin-top: 27px;
  }

  .form__caption--tel {
    margin-top: 7px;
  }

  .form__caption--email {
    margin-top: 6px;
  }

  .form__wrapper-fieldset {
    padding-top: 50px;
    padding-bottom: 26px;
    background-color: @gray-middle;
  }

  .form__wrapper-fieldset--customer {
    padding-top: 61px;
    padding-bottom: 15px;
    margin-bottom: 50px;
  }

  .form__label {
    font-size: 19px;
  }

  .form__label--type {
    margin-bottom: 28px;
    padding: 15px 0 15px 80px;

    &::before {
      width: 48px;
      height: 48px;
    }
  }

  .form__radio:checked + .form__label--type {
    &::after {
      top: 15px;
      left: 15px;
      width: 21px;
      height: 21px;
    }
  }

  .form__label--color {
    width: 157px;
    margin-bottom: 28px;
    padding: 15px 0 15px 81px;

    &::before {
      width: 50px;
      height: 48px;
    }
  }

  .form__checkbox:checked + .form__label--color {
    &::after {
      top: 17px;
      left: 13px;
      width: 38px;
    }
  }

  .form__wrapper-block--color {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 500px;
  }

  .form__fieldset--customer {
    margin-top: 40px;
    margin-bottom: 31px;
  }

  .form__fieldset--customer .form__customer-info {
    &:last-child {
      padding-bottom: 18px;
    }
  }

  .form__wrapper-block--user-name {
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
    margin-top: 21px;

    .form__label {
      margin-right: 25px;
    }
  }

  .form__wrapper-block--user-info {
    flex-direction: row;
    flex-grow: 1;
  }

  .form__label--tel,
  .form__label--email,
  .form__label--wishes {
    padding: 0;
  }

  .form__label--tel .form__icon-tel {
    left: 450px;
  }

  .form__label--email .form__icon-email {
    left: 447px;
  }

  .form__customer-info {
    flex-grow: 1;
    width: 356px;
    margin-bottom: 35px;
    padding-left: 17px;
    font-size: 19px;
  }

  .form__customer-info--wishes {
    padding-top: 14px;
    padding-bottom: 88px;
    margin-bottom: 40px;
  }

  .form__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 668px;
    margin-bottom: 52px;
    padding: 0 50px;
  }

  .form__text-required {
    order: 1;
    width: 334px;
    margin-bottom: 0;
    padding-top: 10px;
    font-size: 17px;
    line-height: 30px;
    text-align: right;
  }

  .form_button {
    width: 226px;
  }
}

@media (min-width: @desktop-width) {
  .form {
    margin-top: -43px;
  }

  .form__title {
    margin-bottom: 124px;
    padding-bottom: 102px;
    font-size: 53px;
    line-height: 57px;
  }

  .form__text {
    width: 677px;
    margin-bottom: 56px;
    padding-right: 74px;
  }

  .form__wrapper {
    width: 701px;
  }

  .form__fieldset {
    width: 1050px;
  }

  .form__fieldset--type {
    margin-bottom: 25px;
  }

  .form__fieldset--wishes {
    margin-bottom: 11px;
  }

  .form__zigzag {
    top: -255px;
    width: 1150px;
  }

  .form__caption {
    width: 113px;
    margin-left: 61px;
    padding-left: 0;
  }

  .form__caption--email {
    padding-top: 3px;
  }

  .form__wrapper-block--color {
    width: 785px;
  }

  .form__label--color {
    width: 180px;
  }

  .form__wrapper-block--user-name {
    width: 700px;
  }

  .form__wrapper-block--user-name .form__label {
    padding-left: 2px;
  }

  .form__wrapper-block--user-info {
    flex-grow: 0;
    width: 700px;
  }

  .form__customer-info {
    min-width: 554px;
  }

  .form__label--tel .form__icon-tel {
    left: 668px;
  }

  .form__label--email .form__icon-email {
    left: 665px;
  }
}
