.item {
  display: flex;
  flex-direction: column;
  outline: 1px dotted red;
}

.item__image {
  width: 260px;
  height: 195px;
  text-align: center;
  background-color: @bg-1;
}

.item__title {
  display: block;
  font-size: 17px;
  font-weight: bold;
}

.item__parameters {
  font-size: 13px;
  line-height: 30px;
  color: @gray-light;
}

.item__order {
  border-top: 1px solid @gray-shadow;
}

.item__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
}

.item__cart {
  font-size: 0;
  text-decoration: none;
}


@media (min-width: @tablet-width) {
  .item {
    flex-direction: row;
    justify-content: space-between;
  }

  .item__image {
    width: 334px;
    height: 334px;
  }

  .item__description {
    display: flex;
    flex-direction: column;
  }

  .item__title {
    font-size: 20px;
  }

  .item__parameters {
    font-size: 15px;
  }

  .item__order {
    margin-top: auto;
  }

  .item__price {
    font-size: 17px;
  }
}

@media (min-width: @desktop-width) {
  .item {
    flex-direction: column;
  }

  .item__image {
    width: 316px;
    height: 462px;
  }

  .item__title {
    width: 316px;
  }
}
