.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  outline: 1px solid @gray-shadow;
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 @opacity-01;
  }

  &:active {
    box-shadow: 0 3px 5px 0 @opacity-01;
  }
}

.item__picture {
  width: 260px;
  height: 195px;
  margin-bottom: 27px;
}

.item__description {
  width: 205px;
  margin: 0 auto;
}

.item__title {
  display: block;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  color: @black;
  cursor: pointer;

  &:hover,
  &:focus {
    color: @opacity-06;
  }

  &:active {
    color: @opacity-03;
  }
}

.item__parameters {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 30px;
  color: @gray-light;
}

.item__order {
  display: flex;
  justify-content: space-between;
  width: 208px;
  margin-top: 18px;
  padding-top: 21px;
  padding-bottom: 27px;
  border-top: 1px solid @gray-shadow;
}

.item__price {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
}

.item__cart {
  position: relative;
  display: block;
  padding-left: 22px;
  font-size: 0;
  text-decoration: none;

  &:hover,
  &:focus {
    .item__cart--icon {
      fill: @tiffany;
    }
  }

  &:active {
    .item__cart--icon {
      fill: @tiffany-lighten;
    }
  }
}

.item__cart--icon {
  position: absolute;
  top: 0;
  left: 0;
  fill: @opacity-02;
}


@media (min-width: @tablet-width) {
  .item {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 55px;
  }

  .item__picture {
    width: 334px;
    height: 333px;
    margin-bottom: 0;
  }

  .item__description {
    display: flex;
    flex-direction: column;
    width: 278px;
  }

  .item__title {
    font-size: 20px;
    padding-top: 25px;
  }

  .item__parameters {
    font-size: 15px;
  }

  .item__order {
    width: 272px;
    margin-top: auto;
  }

  .item__price {
    padding-left: 4px;
    padding-top: 1px;
    font-size: 17px;
  }

  .item__cart--icon {
    top: 1px;
    left: 3px;
  }
}

@media (min-width: @desktop-width) {
  .item {
    flex-direction: column;
    justify-content: flex-start;
  }

  .item__picture {
    width: 316px;
    height: 462px;
    margin-bottom: 0;
  }

  .item__title {
    padding-top: 26px;
  }

  .item__description {
    width: 259px;
    flex-grow: 1;
  }

  .item__parameters {
    margin-bottom: 14px;
  }

  .item__order {
    width: 259px;
  }

  .item__price {
    padding-left: 0;
  }

  .item__cart {
    padding-left: 27px;
  }
}
