.page-footer {
  background-color: @gray-middle;
  outline: 1px dotted green;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  border-bottom: 1px solid @gray-form;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
  }

  .page-footer__logo {
    display: block;
  }

  .page-footer__social {
    border-bottom: none;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    padding: 0 100px;
  }
}
