.page-header {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

.page-header__logo {
  align-self: center;
  margin: 20px 0;
}

@media (min-width: @tablet-width) {
  .page-header {
    flex-direction: row;
    width: 668px;
    padding: 0 50px;
  }

  .page-header__logo {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 1050px;
  }
}
