.site-list {
  padding: 0;
  list-style: none;
  outline: 1px dotted @bg-1;
}

.site-list__item {
  padding: 30px 0 30px 46px;
  box-shadow: 0 1px 0 0 @gray-shadow;
}

.site-list__link {
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  color: @black;
}

@media (min-width: @tablet-width) {
  .site-list {
    order: 2;
  }

  .site-list__item {
    width: 167px;
    padding-left: 0;
  }

  .site-list__link {
    font-size: 15px;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    order: 0;
  }

  .site-list__link {
    font-size: 17px;
  }
}
