.social {
  padding: 24px 30px;
  border-bottom: 1px solid @opacity-01;
}

.social__list {
  display: flex;
  justify-content: space-around;
  padding: 0;
  font-size: 0;
}

.social__item {
  margin-left: 20px;
  margin-right: 20px;
}

.social__link {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;

  &:hover {
    .social__icon {
      fill: @tiffany-darken-hover;
    }
  }

  &:active {
    .social__icon {
      opacity: 0.3;
    }
  }
}

.social__link--instagram,
.social__link--twitter {
  padding-top: 3px;
}

@media (min-width: @tablet-width) {
  .social {
    border-bottom: none;
  }
}
