.user-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-list__item {
  box-shadow: inset 0 1px 0 0 @gray-shadow, 0 1px 0 0 @gray-shadow;
}

.user-list__form {
  position: relative;
  padding: 30px 0 30px 44px;

  &:hover,
  &:focus {
    .user-list__icon-search {
      fill: @tiffany;
    }
  }

  &:active {
    .user-list__icon-search {
      fill: @tiffany-lighten;
    }
  }
}

.user-list__form-label {
  position: absolute;
  top: 32px;
  left: 0;
  cursor: pointer;
}

.user-list__icon-search {
  fill: @opacity-02;
}

.user-list__search {
  .placeholder-search;
  font-size: 17px;
  font-weight: bold;
  border: none;

  &:hover,
  &:focus {
    .placeholder-search-hover;
  }
}

.user-list__link {
  position: relative;
  display: block;
  padding: 30px 0 30px 44px;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  color: @black;

  &:hover,
  &:focus {
    color: @opacity-06;

    .user-list__icon-cart {
      fill: @tiffany;
    }
  }

  &:active {
    color: @opacity-03;

    .user-list__icon-cart {
      fill: @tiffany-lighten;
    }
  }
}

.user-list__icon-cart {
  position: absolute;
  top: 31px;
  left: 0;
  fill: @opacity-02;
}

@media (min-width: @tablet-width) {
  .user-list {
    order: 1;
    margin-left: auto;
  }

  .user-list__item {
    box-shadow: none;
    border-left: 1px solid @opacity-01;
  }

  .user-list__form {
    width: 36px;
    padding-top: 54px;
    padding-bottom: 24px;
    padding-left: 46px;
  }

  .user-list__form-label {
    top: 28px;
    left: 33px;
  }

  .user-list__search {
    display: none;
  }

  .user-list__item--cart {
    text-align: right;
  }

  .user-list__link {
    padding: 23px 0 24px 82px;
  }

  .user-list__icon-cart {
    top: 26px;
    left: 31px;
  }
}

@media (min-width: @desktop-width) {
  .user-list__form-label {
    left: 32px;
  }

  .user-list__icon-cart {
    left: 29px;
  }

  .user-list__link {
    padding-right: 2px;
  }
}
