.week-product {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 155px;
  padding: 0 30px;
}

.week-product__wrapper-title {
  display: flex;
  flex-direction: column;
}

.week-product__description {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.week-product__title {
  display: block;
  margin: 0;
  margin-bottom: 23px;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
  color: @tiffany;
}

.week-product__name {
  display: block;
  margin: 0;
  margin-bottom: 5px;
  order: -1;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
}

.week-product__description-text {
  display: block;
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  width: 260px;
  font-size: 15px;
  color: @gray-light;
}

.week-product__parameters {
  width: 260px;
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 20px;
  color: @gray-light;
  border-collapse: collapse;
}

.week-product__row {
  border-bottom: 1px solid @gray-shadow;
}

.week-product__value,
.week-product__field {
  padding: 9px 0 10px 0;
}

.week-product__field {
  padding-left: 21px;
}

.week-product__wrapper-order {
  width: 260px;
  text-align: center;
}

.week-product__price {
  margin-bottom: 28px;
  font-size: 17px;
  font-weight: bold;
  color: @gray-light;
}

.week-product__picture {
  height: auto;
}

@media (max-width: @mobile-width-only) {
  .week-product__wrapper {
    position: relative;
  }

  .week-product__wrapper-order {
    position: absolute;
    top: 560px;
  }
}

@media (min-width: @tablet-width) {
  .week-product {
    position: relative;
    width: 668px;
    margin-bottom: 45px;
  }

  .week-product__zigzag {
    position: absolute;
    top: -36px;
    left: 0;
    width: 100%;
    height: 34px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-position: top;
    background-size: contain;
    z-index: 6;
  }

  .week-product__wrapper-title {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 39px;
    padding-top: 18px;
  }

  .week-product__title {
    width: 80px;
    padding-top: 11px;
    line-height: 17px;
    text-align: center;
    margin-right: 22px;
  }

  .week-product__name {
    margin-left: -3px;
    font-size: 43px;
    line-height: 50px;
  }

  .week-product__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .week-product__description {
    align-self: flex-start;
  }

  .week-product__description-text {
    width: 290px;
    margin-top: -8px;
    margin-bottom: 36px;
    font-size: 17px;
    line-height: 30px;
  }

  .week-product__parameters {
    width: 290px;
    margin-bottom: 47px;
  }

  .week-product__field {
    padding-left: 2px;
  }

  .week-product__wrapper-order {
    width: 290px;
  }

  .week-product__price {
    display: block;
    margin: 0;
    margin-bottom: 25px;
    padding: 10px 0;
    font-size: 20px;
  }

  .week-product__order {
    margin-left: -2px;
  }

  .week-product__picture {
    margin-right: 1px;
  }
}

@media (min-width: @desktop-width) {
  .week-product {
    width: 1050px;
    margin-bottom: 66px;
    padding-top: 64px;
  }

  .week-product__zigzag {
    top: -40px;
  }

  .week-product__wrapper-title {
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: absolute;
    top: 79px;
    width: 700px;
    margin-left: 42px;
    z-index: 3;
  }

  .week-product__title {
    padding-top: 15px;
  }

  .week-product__name {
    margin-left: 27px;
    font-size: 53px;
    line-height: 57px;
  }

  .week-product__wrapper {
    justify-content: flex-end;
    margin-top: -19px;
  }

  .week-product__description {
    margin-top: 165px;
  }

  .week-product__description-text {
    margin-bottom: 51px;
  }

  .week-product__parameters {
    margin-bottom: 99px;
  }

  .week-product__value,
  .week-product__field {
    padding: 7px 0 12px 0;
  }

  .week-product__field {
    padding-left: 4px;
  }

  .week-product__picture {
    margin-left: 59px;
  }
}
