.week-product {
  outline: 1px dotted red;
}

.week-product__title {
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
  color: @tiffany;
}

.week-product__name {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
}

.week-product__description {
  font-size: 15px;
  color: @gray-light;
}

.week-product__parameters {
  font-size: 15px;
  line-height: 20px;
  color: @gray-light;
}

.week-product__price {
  font-size: 17px;
  font-weight: bold;
}
